# Database URLs

# dev, prod prisma db url
DATABASE_URL=""
DIRECT_URL=""


# Next Js Secrets

# next auth creds
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"    


# Third Party API's Secrets

# master-india gst no verify unique id
# UNIQUE_ID_MI=""
